.AboutMe-cont {
  width: 500px;
  margin: 0 auto;
  margin-top: 2em;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  /* border: 1px solid red; */
}

.AboutMe-img {
  width: calc(700px / 2);
  /* border: 1px solid red; */
}

.AboutMe-p > p {
  width: calc(700px / 2);
  /* border: 1px solid red; */
  text-align: left;
  text-indent: 50px;
}

@media only screen and (max-width: 800px) {
  .AboutMe-img {
    width: 75%;
    /* border: 1px solid red; */
  }

  .AboutMe-p > p {
    width: 100%;
  }
}
