.Contact-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.Contact-icons-cont {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.icon-facebook,
.icon-linkedin,
.icon-instagram,
.icon-twitter {
  font-size: 50px;
}

.icon-facebook {
  color: #13ce66;
}

.icon-linkedin {
  color: #00a6ff;
}

.icon-instagram {
  color: #976dd0;
}

.icon-twitter {
  color: #ff9052;
}

.Contact-tweet {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.Contact-email-mobile {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 550px) {
  .Contact-cont {
    display: block;
    width: 320px;
    height: calc(100vh - 45px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
  }

  .Contact-email-desktop {
    display: none;
  }

  .Contact-email-mobile {
    display: block;
    line-height: 20px;
  }
}
