.Index-cont {
  display: flex;
  width: 100%;
  height: calc(100vh - 45px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.Index-grid {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px;
  grid-template-rows: 125px 125px 125px;
}

#aboutMe {
  grid-column: 2;
  grid-row: 1;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

#lilTanks {
  grid-column: 4;
  grid-row: 1;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

#jobly {
  grid-column: 1;
  grid-row: 2;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

#lipslut {
  grid-column: 3;
  grid-row: 2;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

#algorithms {
  grid-column: 5;
  grid-row: 2;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

#resume {
  grid-column: 2;
  grid-row: 3;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#contact {
  grid-column: 4;
  grid-row: 3;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Index-kitten1 > img,
.Index-kitten2 > img {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.Index-kitten1 {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -55px;
  right: -95px;
  overflow: hidden;
  transform: rotate(-45deg);
  transition: all 0.25s linear;
}

.Index-kitten1 > img {
  position: absolute;
  width: 50em;
  bottom: -50px;
  right: 0;
  transform: translateX(350px) rotate(45deg);
}

.Index-kitten-right {
  transform: translate(400px, 450px);
}

.Index-kitten2 {
  position: absolute;
  width: 600px;
  bottom: -100px;
  left: -200px;
  transform: rotate(-20deg);
  overflow: hidden;
  transition: all 0.25s linear;
}

.Index-kitten2 > img {
  transform: scale(1.25) translateX(80px) rotate(20deg);
}

.Index-kitten-left {
  transform: translate(-400px, 300px);
}

@media only screen and (max-width: 1200px) {
  .Index-kitten1 {
    bottom: -75px;
    right: -125px;
    transform: scale(0.9) rotate(-45deg);
  }

  .Index-kitten-right {
    transform: translate(375px, 425px);
  }

  .Index-kitten2 {
    bottom: -100px;
    left: -200px;
    transform: scale(0.9) rotate(-20deg);
  }

  .Index-kitten-left {
    transform: translate(-400px, 300px);
  }
}

@media only screen and (max-width: 800px) {
  .Index-grid {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px 125px;
  }

  #aboutMe {
    grid-column: 3;
    grid-row: 1;
  }

  #lilTanks {
    grid-column: 2;
    grid-row: 2;
  }

  #jobly {
    grid-column: 4;
    grid-row: 2;
  }

  #lipslut {
    grid-column: 3;
    grid-row: 3;
  }

  #algorithms {
    grid-column: 2;
    grid-row: 4;
  }

  #resume {
    grid-column: 4;
    grid-row: 4;
  }

  #contact {
    grid-column: 3;
    grid-row: 5;
  }

  .Index-kitten1 {
    bottom: -100px;
    right: -150px;
    transform: scale(0.75) rotate(-45deg);
  }

  .Index-kitten-right {
    transform: translate(350px, 400px);
  }

  .Index-kitten2 {
    bottom: -150px;
    left: -225px;
    transform: scale(0.75) rotate(-20deg);
  }

  .Index-kitten-left {
    transform: translate(-375px, 250px);
  }
}

@media only screen and (max-width: 415px) {
  .Index-cont {
    display: block;
    width: 320px;
    height: calc(100vh - 45px);
    overflow: auto;
  }

  .Index-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 0px 105px 105px;
    grid-template-rows: 0px 105px 105px 105px 105px 105px 105px;
  }

  #aboutMe {
    grid-column: 2;
    grid-row: 2;
  }

  #lilTanks {
    grid-column: 3;
    grid-row: 3;
  }

  #jobly {
    grid-column: 2;
    grid-row: 4;
  }

  #lipslut {
    grid-column: 3;
    grid-row: 5;
  }

  #algorithms {
    grid-column: 2;
    grid-row: 6;
  }

  #resume {
    grid-column: 3;
    grid-row: 7;
  }

  #contact {
    grid-column: 2;
    grid-row: 8;
  }
}
