.LilTanks-cont {
  width: 500px;
  margin: 0 auto;
  margin-top: 2em;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.LilTanks-cont > p {
  text-indent: 50px;
}

img {
  border-radius: 15px;
  box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.5);
  width: 75%;
}

.LilTanks-center {
  text-align: center;
  margin-bottom: 1em;
}

.LilTanks-icons-cont {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.icon-steam,
.icon-windows,
.icon-linux,
.icon-apple {
  font-size: 50px;
}

.icon-steam {
  color: #00a6ff;
}
.icon-windows {
  color: #13ce66;
}
.icon-linux {
  color: #ff9052;
}
.icon-apple {
  color: #976dd0;
}
