/* .Resume-mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .Resume-desktop {
    display: none;
  }

  .Resume-mobile {
    height: calc(100vh - 45px);
    display: block;
    overflow: auto;
    padding: 20px;
  }
} */
