.AlgoLeveret-table > tbody > tr > td {
  width: 24px;
  height: 24px;
  border: 1px solid rgb(72, 44, 9);
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 255, 0);
}

.AlgoLeveret-table {
  border: 1px dotted rgb(72, 44, 9);
  background-color: rgb(119, 89, 52);
  text-align: center;
}
