/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */
/* @import url('https://fonts.googleapis.com/css?family=Merriweather'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

html {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 54, 86);
  background-image: linear-gradient(45deg, rgb(35, 54, 86), rgb(81, 103, 141));
  min-height: 100vh;
  height: 100%;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Merriweather', serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  overflow: hidden;
}

a {
  text-decoration: none;
  /* color: #f0e3e9; */
  color: skyblue;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.1s linear;
}

a:hover {
  color: white;
  /* text-shadow: 0 0 20px white; */
}

h1 {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 40px;
  /* letter-spacing: 0.05em; */
  /* word-spacing: 12px; */
  text-transform: uppercase;
  /* font-weight: bold; */
  /* font-style: italic; */
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.content-cont {
  max-width: 800px; /* width: 500px;*/
  height: 100%;
  color: #f0e3e9;
  margin: 0 auto;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  padding-left: 20px;
  padding-right: 20px;
}

.content-2col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  margin: 0;
  /* padding-top: 1em; */
  /* padding-bottom: 1em; */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  box-sizing: border-box;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.content-cont > p {
  text-indent: 50px;
  /* border: 1px solid red; */
}

img {
  border-radius: 15px;
  box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.content-center {
  text-align: center;
  /* border: 1px solid yellow; */
}

.Layout-cont {
  position: relative;
  width: 100%;
  height: calc(100vh - 45px);
}

.Layout-child-cont {
  overflow: auto;
  height: calc(100vh - 45px);
}

.Layout-bg-cont {
  display: flex;
  width: 100%;
  height: calc(100vh - 45px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -5;
}

.Layout-bg1,
.Layout-bg2,
.Layout-bg3 {
  position: absolute;
  margin-top: -15px;
  transform: rotate(-45deg);
}

.Layout-bg1 {
  width: 550px;
  height: 550px;
  border: 50px solid rgba(35, 54, 86, 0.1);
}
.Layout-bg2 {
  width: 1000px;
  height: 1000px;
  border: 10px solid rgba(35, 54, 86, 0.1);
  animation-duration: 5s;
  animation-name: grow2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes grow2 {
  from {
    width: 1000px;
    height: 1000px;
  }
  to {
    width: 649px;
    height: 649px;
  }
}

.Layout-bg3 {
  width: 1400px;
  height: 1400px;
  border: 100px solid rgba(35, 54, 86, 0.1);
  animation-duration: 5s;
  animation-name: grow3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes grow3 {
  from {
    width: 1020px;
    height: 1020px;
  }
  to {
    width: 1500px;
    height: 1500px;
  }
}

@media only screen and (max-width: 800px) {
  .content-2col {
    flex-direction: column;
    box-sizing: border-box;
  }

  .content-cont {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .Layout-cont {
    display: flex;
    justify-content: center;
    height: calc(100% - 55px);
    width: 100%;
    overflow-x: hidden;
  }

  .Layout-child-cont {
    padding-left: 5px;
    padding-right: 5px;
    width: 320px;
    height: calc(100% - 1px);
    width: 100%;
    overflow: hidden;
  }

  .Layout-bg-cont {
    display: none;
  }

  .content-cont {
    width: 100%;
    overflow-x: hidden;
  }

  #___gatsby {
    height: 100%;
    width: 100%;
  }

  #___gatsby > div {
    height: 100%;
    width: 100%;
  }
}
