.NavBar-inner-cont {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.NavBar-mobile {
  display: none;
}

.NavBar-desktop {
  background-color: rgba(35, 54, 86, 0.1);
}
.NavBar-left {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}

.NavBar-name {
  margin: 0.5em;
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.NavBar-name > a,
.NavBar-name > a:hover {
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5);
  color: #f0e3e9;
}

.NavBar-title {
  color: rgb(0, 166, 255);
  margin: 0.5em;
  text-transform: lowercase;
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5);
}

.NavBar-right {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.NavBar-right-link {
  margin: 0.5em;
}

@media only screen and (max-width: 850px) {
  .NavBar-title {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .NavBar-mobile-inner-cont {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    min-width: 320px;
  }

  .NavBar-desktop {
    display: none;
  }

  .NavBar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 55px;
  }

  .NavBar-icon-home {
    font-size: 50px;
    margin-left: 10px;
    color: #f0e3e9;
  }

  .NavBar-icon-resume {
    font-size: 40px;
  }

  .NavBar-icon-github {
    font-size: 45px;
  }

  .NavBar-icon-contact {
    font-size: 50px;
    margin-right: 10px;
  }
}
