.NavBar-mobile {
  visibility: hidden;
}

.NavBar-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(35, 54, 86, 0.1);
  visibility: visible;
}
.NavBar-left {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}

.NavBar-name {
  margin: 0.5em;
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.NavBar-name > a,
.NavBar-name > a:hover {
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5);
  color: #f0e3e9;
}

.NavBar-title {
  color: rgb(0, 166, 255);
  margin: 0.5em;
  text-transform: lowercase;
  text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.5);
}

.NavBar-right {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.NavBar-right-link {
  margin: 0.5em;
}

@media only screen and (max-width: 415px) {
  .NavBar-desktop {
    visibility: hidden;
    height: 0;
  }

  .NavBar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    visibility: visible;
  }

  .NavBar-icon-home {
    font-size: 50px;
    margin-left: 10px;
    color: #13ce66;
  }

  .NavBar-icon-resume {
    font-size: 40px;
    color: #00a6ff;
  }

  .NavBar-icon-github {
    font-size: 45px;
    color: #976dd0;
  }

  .NavBar-icon-contact {
    font-size: 50px;
    margin-right: 10px;
    color: #ff9052;
  }
}
